.accordion {
  width: 600px;
  margin: 20px auto;
}

.accordion_item {
  overflow: hidden;

  display: flex;
  flex-direction: column;
  border-top: 0.5px solid #D1D1D1;
}
.accordion_item:last-child {
  border-bottom: 0.5px solid #D1D1D1;
}

.accordion_header {
  display: flex;
  padding: 24px 0 16px;
  flex-direction: row;
  justify-content: space-between;
  transition: background 0.3s;
  position: relative;
  cursor: pointer;
  font-size: 20px;
}

.accordion_content {
  overflow: hidden;
  padding: 0 15px;
  transition:
    opacity,
    visibility,
    max-height 0.3s ease-out;
  background: white;
}

.arrow {
  transform: rotate(-180deg);
}

.active {
  transform: rotate(0deg);
}
