.header {
  background: #ffffff;
  border-bottom: 1px solid #e8e8e8;
  padding: 8px 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logoImage {
  width: 33px;
  height: 33px;
  background: #4600e9;
  border-radius: 50%;
  position: relative;
}

.header__logoText {
  width: 99px;
  height: 32px;
}

.header__link {
  color: #191919;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 500;
  text-decoration: none;
}

.header__link:hover {
  color: #6a0bff;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 26px;
}

.header__button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 110%;
  font-weight: 600;
  color: #6a0bff;
  padding: 0;
}

.header__buttonText {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
