.skeleton {
  background-color: rgba(193, 191, 191, 0.66);
  border-radius: 24px;
  height: 100%;
  width: 100%;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
