.question_container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  max-width: 1440px;
  margin: 40px auto;
  padding: 0 112px;
  gap: 20px;
  font-family: "Manrope", sans-serif;
}

.question_list {
  width: 804px;
  background-color: #ffffff;
  padding: 24px 20px 40px 20px;
  border-radius: 24px;
}
